@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
}

.container__conteudo {
    margin: 20px;
}

.perfil__principal {
    min-width: 780px;
    max-width: 780px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #1B2226;
}

.container__imagem__capa {
    width: 100%;
    min-height: 160px;
    max-height: 160px;
}

.imagem__capa {
    position: relative;
    width: 100%;
    max-height: 160px;
    padding-bottom: 25%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background: url(/assets/imagem-de-capa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container__perfil__info {
    position: relative;
    background-color: #1B2226;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.perfil__info_foto {
    position: absolute; 
    left: 20px;
    width: 160px;
    height: 160px;
    top: 80px;
    left: 45px;
    z-index: 10;
}

.container__perfil__info {
    display: flex;
    align-items: baseline;
    gap: 100px;
}

.perfil__info__nome {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.perfil__info__formacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfil__formacao__logos {
    vertical-align: middle;
    padding-right: 10px;
}

.fonte__grande {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.fonte__media {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.fonte__pequena {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.hyperlink {
    font-weight: normal;
    color: #70B5F9;
}
.dot:before {
    content: '-';
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
}

.button__mensagem {
    background-color: #70B5F9;
    border: none;
    color: black;
    width: 128px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}

.button__mais {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #70B5F9;
    color: #70B5F9;
    width: 128px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}